.logoContainer {
    text-align: center;
    border-top: solid 1.5rem var(--white);
    border-bottom: solid 2px var(--white);
    height: 12rem;
    width: auto;
    max-width: 33rem;
    align-self: center;
    h1 {
        font-size: 5rem;
    }
}
