* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --background: #14211e;
    --primary: #d9a019;
    --secundary: #414a47;
    --gray-300: #656868;
    --gray-500: #A09D9D;
    --black: #000000;
    --yellow-300: #f2e928;
}

body {
    background: var(--background);
}

body, input, textarea, button {
    font: 500 1rem Istok Web, sans-sarif;
    color: var(--white)
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Istok Web, sans-serif;
    color: var(--white);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}